
/********************************* ABOUT HEADER **********************************************/
.about-header{
  margin-top: 103.38px !important;
    background-color: var(--color4);
    max-height: 560px;
    background-image: url('../img/home-header-bg.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 100px;
  }
  
  .about-header h2,   .about-header p{
    color: var(--white);
    
  }
  .about-header h2{
    margin-bottom: 1rem;
  }

  .about-header p{
    line-height: 30px;

  }

 

  /********************************* SECTION 1 **********************************************/
.about-section1{
    background-image: url('../img/b-g.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 60px;
    margin-top: -100px;
    
  }
  
  .about-section1 .icon{
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .about-section1 .icon h2{
   color: var(--white);
   text-align: center;
  }

  .about-section1 p{
    color: var(--white);

  }
  
  

  
  .about-section1 .border-top-green{
    width: 100%;
    height: 5px;
    background-color: var(--color1);
    margin-bottom: 1rem;
  }
  
  .about-section1 .border-top-black{
    width: 100%;
    height: 5px;
    background-color: var(--black);
    margin-bottom: 1rem;
  }

  
  
  .black-bg{
    background-color: var(--black);
    /* padding: 2rem 2rem 4rem 2rem; */
  }
  
  .green-bg{
    background-color: var(--color1);
    padding: 4rem 0rem 4rem 0rem;
  }

  .about-section1-mobile h2{
    text-align: center;
    color: white !important;
    margin: 0px;
  }
  
  .about-section1-mobile{
      
      padding-top: 0rem !important;
      padding-bottom: 0rem !important;
  
    }
  
  .about-section1-mobile .icon{
    padding-top: 2rem;
  
  }
  
  .about-section1-mobile .icon{
    background-color: var(--black);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .home-section1-mobile .icon{
  
  
  }
  
  .about-section1-mobile .icon img{
    margin: auto;
  }
  


  /********************************* SECTION 2 **********************************************/
  .about-section2{
    background-image: url('../img/about-bg1.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 60px;
    /* margin-top: -100px; */
    padding-bottom: 100px;
  }


  .about-section2 h2, .about-section2 p{
    color: var(--white);
  }

.about-section2 p{
  
}

  .about-section2 .heading-container{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }


  
  .about-section2 .heading-container img{
    margin-right: 1rem;
  }


  /* CONTACT FORM */
.contact-section{

    margin-top: 0px;

    
}

  /********************************* SECTION 3 **********************************************/
.about-section3{
    background-image: url('../img/about-bg2.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.about-section3 .row1{
    margin-top: -70px !important;
}

.about-section3 .heading-container h2{
   margin-bottom: 1.5rem;
}

.about-section3 p{

}


.about-section3 .heading-container{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
}

.about-section3 .heading-container .horizontal-line{
    display: flex;
}




.contact-section p{

}




.footer p{

}
